{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 50,
    "bracketSpacing": true,
    "arrowParens": "avoid"
}